.header {
  background-image: url('./assets/home-background.jpg');
  background-size: cover;
  background-position-y: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35vh;

  img {
    height: 160px;
    width: 150px;
    margin: 0 auto;
  }
}